
body {
  background: #e3eeff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App a {
  color: #3F889B;
}

.App-headder {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}